################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MeterInspectionAPI/bin/Debug/net8.0
